<form action="https://www.google.com/search" role="search">
  <div>
    <input type="hidden" name="as_sitesearch" value="barryfrost.com">
    <label for="search">Search</label>
    <input type="search" id="search" name="q">
  </div>
</form>
