<footer>
  <p>
    View post as
    <a href="<%= @post.url %>.json">
      <abbr title="Microformats 2">MF2</abbr> JSON
    </a>
    or fork the
    <a href="https://github.com/barryf/content/blob/master<%= @post.url %>.json">
      source on GitHub
    </a>
  </p>
</footer>