<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <link rel="micropub" href="<%= @root_url %>micropub">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="indieauth" href="https://indieauth.com/">
  </head>
  <body>
	  /
  </body>
</html>